*.DS_Store
*.{node,a,o,dylib}
www_main.log
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
bin/

npm-debug.log

/.idea/
/public/stylesheets/.sass-cache/
/.sass-cache/
node_modules
static/styles/.sass-cache
